.button {
  display: inline-block;
  min-height: 40px;
  padding: 8px 20px;
  box-sizing: border-box;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  background-color: $basic-green;
  color: $basic-white;
  text-decoration: none;
}
