.comment {
  margin-top: 24px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }
}

.comment__text {
  height: 150px;
  width: 100%;
  margin-top: 38px;
  padding: 10px 12px;

  @media (min-width: $tablet-width) {
    margin-top: 76px;
    padding: 10px 20px;
    height: 174px;
  }
}
