.contacts {
  border: none;
  border-top: 2px solid $basic_green;
  margin-top: 16px;
}

.contacts__title {
  font-size: 24px;
  line-height: 26px;
  padding-left: 20px;
  width: 200px;
  position: relative;
  top: 10px;
  margin-bottom: 45px;
}

.contacts__list {
  margin: 0;
  padding: 0 20px;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.contacts__item {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 50%;
  }
}

.contacts__label {
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  text-transform: uppercase;
  white-space: nowrap;
  margin-right: 10px;
}

.contacts__input {
  padding-right: 35px;
  background-position: 92% center;
  background-repeat: no-repeat;
}

.contacts__input--email {
  background-image: url("../../img/icon_email.svg");
}

.contacts__input--phone {
  background-image: url("../../img//icon-phone.svg");
}
