.intro {
  background-image: linear-gradient(rgba($basic_green, 0.85), rgba($basic_green, 0.85)), url("../../img/intro-background.jpg");
  background-repeat: no-repeat;
  background-size: auto 302px;
  background-position: top;

  @media (min-width: $tablet-width) {
    background: none;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: -112px;
    margin-bottom: -112px;
  }
}

.intro__wrapper {
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}

.intro__header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: $basic-white;
  padding-top: 27px;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    color: $basic-black;
    align-items: flex-start;
    padding: 0 85px;
    margin-top: 62px;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    color: $basic-black;
    padding: 0;
    padding-left: 190px;
    padding-right: 20px;
    margin: 0;
    margin-top: 114px;
    flex-shrink: 1;
  }
}

.intro__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

.intro__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-top: 41px;
    text-align: left;
  }
}

.intro__button {
  width: 100%;
  margin-top: auto;

  @media (min-width: $tablet-width) {
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin: 0;
    margin-top: 49px;
  }
}

.intro__img {
  position: relative;
  top: -340px;
  margin-bottom: -272px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    top: -250px;
    margin-bottom: -250px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    right: 0;
    margin: 0;
    background-image: linear-gradient(rgba($basic_green, 0.85), rgba($basic_green, 0.85)), url("../../img/intro-background--desktop.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 720px;
    height: 694px;
    flex-shrink: 0;
  }

  img {
    @media (min-width: $desktop-width) {
      position: relative;
      top: 200px;
      left: -100px;
    }
  }
}
