.intro {
  position: relative;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &::before {
    position: absolute;
    content: "";
    width: calc(100% + 40px);
    margin-left: -20px;
    height: 302px;
    background-image: linear-gradient(rgba($basic_green, 0.85), rgba($basic_green, 0.85)), url("../../img/intro-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba($basic_green, 0.85), rgba($basic_green, 0.85)), url("../../img/intro-background@2x.jpg");
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 810px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 85px;
    margin-top: 62px;
    z-index: 2;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-left: 80px;
    padding-right: 20px;
    margin: 0;
    min-height: 583px;

    &::before {
      display: block;
      position: absolute;
      top: -112px;
      right: -110px;
      width: 50vw;
      height: 694px;
      background-color: $basic_green;
      background-image: linear-gradient(rgba($basic_green, 0.85), rgba($basic_green, 0.85)), url("../../img/intro-background-desktop.jpg");
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba($basic_green, 0.85), rgba($basic_green, 0.85)), url("../../img/intro-background-desktop@2x.jpg");
      }
    }
  }
}

.intro__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: $basic-white;
  padding-top: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    color: $basic-black;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    max-width: 480px;
    padding: 0;
    margin-top: 110px;
  }
}

.intro__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

.intro__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-top: 41px;
    padding-left: 3px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.intro__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin: 0;
    margin-top: 49px;
    margin-left: -3px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
    margin-left: 0;
  }
}

.intro__img {
  position: relative;
  top: 16px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 200px;
    left: 0;
    z-index: -1;

    img {
      width: 708px;
      height: 609px;
    }
  }

  @media (min-width: $desktop-width) {
    top: 29px;
    left: 36.7%;

    img {
      width: 552px;
      height: 499px;
    }
  }
}
