.main-nav {
  @media (min-width: $tablet-width) {
    height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
    box-sizing: border-box;
    z-index: 2;
  }
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
