.optionally {
  border: none;
  border-top: 2px solid $basic_green;
  margin-top: 23px;
}

.optionally__title {
  font-size: 24px;
  line-height: 26px;
  padding-left: 20px;
  width: 160px;
}

.optionally__list {
  margin: 34px 0;
  padding: 0 20px;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.optionally__item {
  min-height: 30px;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
  }
}

.optionally__label::before {
  border: 1px solid $special_grey;
}

.optionally__input:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 19px;
  height: 15px;
  background: url("../../img/checkbox-on.svg");
}
