.optionally {
  margin-top: 19px;

  @media (min-width: $tablet-width) {
    margin-top: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 62px;
  }
}

.optionally__title {
  span {
    margin-right: 23px;
  }

  &::after {
    position: relative;
    top: 2px;
  }

  @media (min-width: $tablet-width) {
    span {
      margin-right: 40px;
    }

    &::after,
    &::before {
      position: relative;
      top: 5px;
    }
  }
}

.optionally__list {
  margin: 34px auto 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 60px;
    margin-top: 57px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0 80px;
  }
}

.optionally__item {
  min-height: 30px;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.optionally__label {
  &::before {
    border: 1px solid $special_grey;
  }

  &:hover {
    &::before {
      border: 1px solid $special_grey-4;
    }
  }
}

.optionally__input:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 19px;
  height: 15px;
  background: url("../../img/checkbox-on.svg");

  @media (min-width: $tablet-width) {
    top: 12px;
    left: 12px;
  }
}
