.page-header {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    margin-top: 53px;
  }
}

.page-header__logo {
  height: 66px;
  width: calc(100% + 40px);
  margin-left: -20px;
  padding: 12px 20px 0 20px;
  box-sizing: border-box;
  border-bottom: 1px solid $basic_grey-3;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    height: 52px;
    padding-top: 0;
    width: 100%;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
    border-bottom: none;
  }
}
