.page-catalog .page-footer__top {
  background-color: $basic_grey;

  @media (min-width: $desktop-width) {
    background-color: $basic-white;
  }
}

.page-catalog .site-list__item--active {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $basic_green;
  }
}
