.page-footer__top,
.page-footer__bottom {
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.page-footer__contacts {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    width: 570px;
    min-height: 201px;
    margin: 0;
    padding: 30px;
    box-sizing: border-box;
    align-items: center;
    background-color: $basic-white;
    position: relative;
    top: 280px;
    margin-top: -200px;
  }
}

.page-footer__invitation {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.page-footer__address {
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;
}

.page-footer__map {
  img {
    width: 100%;
    object-fit: cover;
  }
}

.page-footer__bottom {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  img {
    display: block;
    margin: 0 auto;
  }
}

.page-footer__copyright {
  a {
    font-size: 16px;
    line-height: 18.4px;
    color: $special_dark-grey;
    text-decoration: none;
  }
}
