.parameters {
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    padding: 20px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.parameters__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.parametrs__item {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.parameters__label {
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  text-transform: uppercase;
  margin-right: 15px;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
