.problems {
  padding: 20px;
  border: 1px solid $basic_grey-4;
  border-left: none;
  border-right: none;
  width: calc(100% + 40px);
  margin-left: -20px;

  @media (min-width: $tablet-width) {
    padding: 24px 28px;
    margin: 0;
    margin-top: 52px;
    width: 100%;
    border: 1px solid $basic_grey-4;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.problems__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.problems__item {
  min-height: 30px;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    min-height: 40px;
    margin-bottom: 12px;
  }
}

.problems__label {
  color: $special_dark-grey-2;

  &::before {
    border: 1px solid $special_grey;
    border-radius: 50%;
  }

  &:hover {
    &::before {
      border: 1px solid $special_grey-4;
    }
  }
}

.problems__input:checked + label::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  width: 13px;
  height: 13px;
  background-color: $basic_green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
  }
}
