.program-selection {
  font-family: "Oswald", sans-serif;
  padding-top: 27px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding: 64px 67px 71px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 75px 110px 82px;
  }
}

.program-selection__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.program-selection__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  max-width: 250px;
  margin-top: 37px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    max-width: 60%;
    margin-top: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 56px;
    max-width: 30%;
  }
}
