.programs__wrapper {
    padding: 0 20px;
    margin: 0 auto;
}

.programs__list {
  list-style: none;
  padding: 0;
}

.programs__item {
  background-color: $basic_grey;
}

.programs__title {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programs__description {
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
}

.programs__link {
  font-family: 'Oswald';
  color: $basic-black;
  text-decoration: none;
  text-transform: uppercase;
}
