.programs {
  margin-top: 22px;

  @media (min-width: $desktop-width) {
    margin-top: 82px;
  }
}

.programs__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 30px 80px;
    max-width: 100%;
  }
}

.programs__item {
  background-color: $basic_grey;
  min-height: 266px;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    min-height: 372px;
    margin-bottom: 30px;
    padding: 77px 28px 57px 52px;
    background-repeat: no-repeat;
    background-position: 90% 50%;
  }

  @media (min-width: $desktop-width) {
    min-height: 374px;
    margin-bottom: 0;
    padding: 77px 52px 59px 52px;
  }
}

.programs__item--slim {
  .programs__title::before {
    background-image: url("../../img/cat_slim.svg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/cat_slim.svg");
    background-size: 200px 210px;
  }

  @media (min-width: $desktop-width) {
    background-image: none;

    .programs__title::before {
      top: -35px;
      left: 0;
      width: 100px;
      height: 106px;
      background-size: contain;
    }
  }
}

.programs__item--pro {
  .programs__title::before {
    left: -5px;
    width: 67px;
    height: 50px;
    background-image: url("../../img/cat_pro.svg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/cat_pro.svg");
    background-size: 268px 200px;
  }

  @media (min-width: $desktop-width) {
    background-image: none;

    .programs__title::before {
      top: -35px;
      left: 0;
      width: 134px;
      height: 100px;
      background-size: contain;
    }
  }
}

.programs__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 10px;
  padding-left: 70px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 50px;
    height: 53px;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
    margin: 0;
    font-size: 36px;
    line-height: 36px;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    margin: 0;
    font-size: 36px;
    line-height: 36px;

    &::before {
      display: block;
    }
  }
}

.programs__description {
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  margin-bottom: 0;
  margin-top: 29px;
  padding-bottom: 23px;
  border-bottom: 1px solid $basic_grey-4;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    max-width: 60%;
    border-bottom: none;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 73px;
    max-width: 100%;
  }
}

.programs__link {
  font-family: "Oswald", sans-serif;
  color: $basic-black;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: auto;
  padding-right: 40px;
  position: relative;
  width: fit-content;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 85%;
    width: 24px;
    height: 12px;
    background-image: url("../../img/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &:hover {
    &::before {
      width: 32px;
      background-image: url("../../img/icon-arrow--hover.svg");
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &::before {
      top: 10px;
    }
  }
}
