.promotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 289px;
  margin-top: 39px;
  padding: 58px 20px 43px;
  box-sizing: border-box;
  background-image: url("../../img/promotion.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/promotion@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    margin-top: 69px;
    height: 200px;
    padding: 30px 124px 30px 78px;
    background-image: url("../../img/promotion-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/promotion-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding: 55px 20px 40px;
    margin-top: 0;
    height: 289px;
    background-image: url("../../img/promotion-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/promotion-desktop@2x.jpg");
    }
  }
}

.promotions__link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  text-decoration: none;
  text-align: center;
  max-width: 200px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -130px;
    left: 25%;
    width: 78px;
    height: 80px;
    background-image: url("../../img/icon_gift.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    text-align: left;
    align-items: center;
    margin: auto;

    &::before {
      position: relative;
      top: auto;
      left: auto;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    text-align: center;
    height: 100%;
  }
}

.promotion__info {
  margin: 0;
}
