.site-list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.site-list__item {
  border-bottom: 1px solid $basic_grey-3;

  @media (min-width: $tablet-width) {
    margin-left: 35px;

    &:first-child {
      margin-left: 0;

      .site-list__link {
        border: none;
      }
    }

    &--active {
      border-bottom: 2px solid $basic_green;

      .site-list__link {
        pointer-events: none;

        &:hover {
          opacity: 1;
        }

        &:active {
          opacity: 1;
        }
      }
    }
  }

  @media (min-width: $desktop-width) {
    border: none;

    &--active {
      border-bottom: 2px solid $basic-white;
    }
  }
}

.page-form .site-list__item--active {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $basic_green;
  }
}

.site-list__link {
  display: block;
  width: 100%;
  min-height: 64px;
  padding: 22px 20px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $basic-black;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    min-height: 34px;
    padding: 0;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.site-list__link--white {
  @media (min-width: $desktop-width) {
    color: $basic-white;
  }
}
