.site-list {
  list-style: none;
  padding: 0;

  a {
    display: block;
    width: 100%;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: $basic-black;
    text-decoration: none;
  }
}
