.social {
  border-top: 1px solid $basic_grey-4;
  border-bottom: 1px solid $basic_grey-4;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0;
  }
}

.social__list {
  list-style: none;
  padding: 20px 8px 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 300px;

  @media (min-width: $tablet-width) {
    padding: 15px 0 20px 20px;
  }
}

.social__item {
  margin-right: 37px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    margin-right: 27px;
  }
}

.social__link {
  display: block;

  svg {
    fill: $special_grey-2;

    &:hover {
      fill: $basic_green;
    }
  }

  &--vkontakte {
    svg {
      @media (min-width: $tablet-width) {
        width: 30px;
        height: 21px;
      }
    }
  }

  &--instagram {
    svg {
      @media (min-width: $tablet-width) {
        width: 23px;
        height: 23px;
      }
    }
  }

  &--facebook {
    svg {
      stroke: $special_grey-2;
      fill: none;

      &:hover {
        stroke: $basic_green;
        fill: none;
      }

      @media (min-width: $tablet-width) {
        width: 18px;
        height: 27px;
      }
    }
  }

  &:active {
    opacity: 0.6;
  }
}
