.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}


fieldset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.fieldset-title {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: calc(100% + 40px);
  margin: 0;
  margin-left: -20px;
  padding-left: 20px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;

  &::before,
  &::after {
    content: "";
    flex-grow: 1;
    flex-shrink: 0;
    height: 2px;
    background: $basic-green;
  }

  &::before {
    display: none;
  }

  span {
    margin-right: 15px;
  }

  @media (min-width: $tablet-width) {
    width: calc(100% + 140px);
    margin-left: -70px;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;

    &::before {
      display: block;
      width: 30px;
      flex-grow: 0;
    }

    span {
      margin-right: 40px;
      margin-left: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    width: calc(100% + 220px);
    margin-left: -110px;

    &::before {
      width: 70px;
    }
  }
}
